* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #31312F;
  font-size: 16px;
}


/* Calculator */

button, .display-container, .debug>.value-container {
  border-radius: 6px;
}

button {
  background-color: #F29121;
  border: 1px solid #D9821E;
  color: #31312F;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.50);
}

button:focus {
  outline: 0;
}

.calculator {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "header header header header" "display display display display" "one two three add" "four five six subtract" "seven eight nine multiply" "clear zero equal division";
  grid-gap: 8px;
  background-color: #F3EBE9;
  padding: 16px;
}

.header-container {
  grid-area: header;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #F26E22;
}

header h2 {
  color: #656565;
}

.display-container {
  grid-area: display;
  background-color: #D8D8D8;
  border: 1px solid #9B9B9B;
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.50);
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.display {
  text-align: right;
  color: #656565;
}

.buttonUtil {
  background-color: #EFDACA;
  border: 1px solid #D6C4B6;
}

.buttonOp {
  background-color: #F26E22;
  border: 1px solid #D9631E;
}


/* Internal State */

.debug-container {
  padding: 1em 0;
}

.debug-container h2 {
  text-align: center;
  color: #636363;
}

.debug {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 8px;
  padding: 16px;
}

.debug .label-container {
  grid-column: 1;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug .value-container {
  grid-column: 2;
  background-color: #424242;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.debug .label {
  color: #636363;
}

.debug .value {
  color: #696969;
}


/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Exo+2|Faster+One');
button, h2, .display, .debug {
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  font-style: normal;
}

button {
  font-size: 28px;
}

header h2 {
  font-style: italic;
  font-size: 14px;
}

h1 {
  font-family: 'Faster One', cursive;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
}

.display {
  font-size: 36px;
}

.debug .label {
  font-size: 18px
}

.debug .value {
  font-size: 16px;
}


/* For larger screens, constrain the size of the calculator & center on page.*/

@media screen and (min-width: 520px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    width: 312px;
    clear: both;
  }
  .calculator {
    height: 440px;
    background-image: linear-gradient(-135deg, #F3EBE9 0%, #000000 100%);
    background-blend-mode: overlay;
    border: 1px solid #4A4A4A;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), inset -4px -4px 12px 0 rgba(0, 0, 0, 0.50), inset 4px 4px 12px 0 rgba(0, 0, 0, 0.50);
    border-radius: 16px;
  }
}
